body{
    background-image: url("IMG_20210905_161853-Copy.png");
    height: 50%;
    background-position: center;
    background-size: cover;
    background-color: aqua;
}
h1{
    font-size: 20px;
    color: cornsilk;
    background-color: black;
    width: 75%;
    text-align: justify;